body,
body {
  font-family: "Microsoft YaHei";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.wrap {
  position: fixed;
  left: 50%;
  margin-left: -225px;
  width: 450px;
  top: 20px;
  bottom: 20px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.header {
  height: 55px;
  background: linear-gradient(
    90deg,
    rgba(246, 60, 47, 0.6),
    rgba(128, 58, 242, 0.6)
  );
  overflow: hidden;
}
.header h3 {
  color: #f3f3fc;
  line-height: 55px;
  font-size: 18px;
  font-weight: normal;
  float: left;
  /* 字间距 */
  letter-spacing: 2px;
  margin-left: 25px;
  text-shadow: 0px 0px 5px #944846;
}
.header img {
  float: right;
  margin: 7px 25px 0 0;
  border-radius: 20px;
  box-shadow: 0 0 5px #f7f2fe;
}
.main {
  position: absolute;
  left: 0;
  right: 0;
  top: 55px;
  bottom: 55px;
  /* border: 1px solid red; */
  background-color: #f4f3f3;
  padding: 10px 0;
  overflow: hidden;
}
.talk_list {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.talk_list li {
  overflow: hidden;
  margin: 20px 0px 30px;
}
.talk_list .left_word img {
  float: left;
  margin-left: 20px;
}
.talk_list .left_word span {
  float: left;
  padding: 10px 15px;
  background-color: #fe9697;
  max-width: 290px;
  border-radius: 12px;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  /* 后面还要加一个小角角 */
  position: relative;
  margin-left: 10px;
}
.talk_list .left_word span:before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  width: 13px;
  height: 12px;
  background: url("../img/corner01.png") no-repeat;
}
.talk_list .right_word img {
  float: right;
  margin-right: 20px;
}
.talk_list .right_word span {
  float: right;
  background-color: #fff;
  padding: 10px 15px;
  max-width: 290px;
  border-radius: 12px;
  font-size: 16px;
  color: #000;
  line-height: 24px;
  /* 后面还要加一个小角角 */
  position: relative;
  margin-right: 10px;
}
.talk_list .right_word span:before {
  content: "";
  position: absolute;
  right: -8px;
  top: 0;
  width: 13px;
  height: 12px;
  background: url("../img/corner02.png") no-repeat;
}
.drag_bar {
  position: absolute;
  right: 0;
  top: 0;

  height: 100%;
  width: 6px;
  border-bottom: 1px solid #f4f3f3;
}
.drager {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #cdcdcd;
  height: 100px;
  width: 6px;
  border-radius: 3px;
  cursor: pointer;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 55px;
}
.footer img {
  float: left;
  margin: 8px 0 0 20px;
}
.input_txt {
  float: left;
  width: 270px;
  height: 37px;
  background-color: #f4f3f3;
  border: 0;
  margin: 9px 0 0 20px;
  border-radius: 8px;
  padding: 0;
  outline: none;
  text-indent: 15px;
}
.input_sub {
  float: left;
  width: 70px;
  height: 37px;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0;
  color: #fff;
  cursor: pointer;
  margin: 9px 0 0 15px;
  background-color: #fe9697;
}
