* {
  padding: 0;
  margin: 0;
}

.log {
  text-align: center;
}

.nav {
  text-align: center;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
  font-size: 15px;
}
.search {
  text-align: center;
  height: 30px;
  padding: 5px;
}
.search_text {
  width: 428px;
}
.search_btn {
  margin-left: 5px;
}
