.w .main{
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}
.main .focus{
   float: left;
   width: 720px;
   height: 455px;
   background-color: red;

}
.main .newsflash{
    float: right;
    width: 250px;
    height: 455px;
   
   
}
.news{
    height: 160px;
    border: 1px solid #e4e4e4;
   
}
.lifeservice{
    /* 用hidden把表格多余的露出的部分隐藏掉 */
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    border-right: 0;
}

.lifeservice ul li{
    float: left;
    width: 25%;
    height: 75px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    border-left: 0;
    text-align: center;
    /* 把li转成行内块 这样把li居中 i也居中了 */
}
.lifeservice ul li i{
    display: inline-block;
    width: 22px;
    height: 27px;
    background: url(../images/icons.png) no-repeat -17px -14px;
    margin-top: 10px;
}
  
}
.news_hd{
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    line-height: 33px;
    padding: 0 15px;
}
.news .news_hd h5{
    float: left;
    font-size: 14px;
}
.news .news_hd .more{
    float: right;
}
.news .news_hd .more::after{
    content: '\e920';
    font-family: 'icomoon';
    padding-left: 10px;
}
.news_bd ul li{
    width: 250px;
    height: 20px;
    padding: 5px 0 10px 5px;
    /* 文字溢出部分 按省略号显示 */
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.bargin{
    margin-top: 10px;
}       
.recom{
    margin-top: 10px;
    height: 163px;
    background-color: pink;
}
.recom_hd{
    float: left;
    width: 205px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}
.recom_bd{
    float: right;
    width: 994px;
    height: 163px;
    background-color: rgb(114, 105, 105);
}
