body {
        color: #000;
        overflow-x: hidden;
        -webkit-tap-highlight-color: transparent;
        max-width: 540px;
        min-width:320px;
        margin: 0 auto;
        background: #f2f2f2;
        font: normal 14px/1.5 PingFangSC-regular,Tahoma,Lucida Grande,Verdana,Microsoft Yahei,STXihei,hei;
       height: 2000px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
a {
    text-decoration: none;
    color: #222;
}
div {
    box-sizing: border-box;
    /* 有了这个可以把边框都算进去 会自动计算 */
}
/* search模块 */
.search-index {
    /* 固定定位跟父级没有关系 以屏幕为准 */
    display: flex;
    position: fixed;
    top: 0;
    /* 居中 */
    left: 50%;
    transform: translateX(-50%);
    /* 兼容老版本 */
    -webkit-transform: translateX(-50%);
    /* fixed固定的盒子应该给高度 */
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    background-color: #f6f6f6;
    border-top: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
   
}
.search {
    position: relative;
    height: 26px;
    border: 1px solid #2eaae0;
    flex: 1;
    margin: 9px 10px;
    border-radius: 50px;
    padding-left: 30px;
    line-height: 24px;
    /* 行高不要设置成26 而应该是把边框减掉 这样文字就不会偏下 */
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search::before{
    content: '';
    /* display: block; 块级元素会把文字往下面挤 加个绝对定位 就可以了 或者直接行内块 */
    position: absolute;
    top: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) no-repeat -58px -279px;
    background-size: 104px auto;

}
.user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}
.user::before{
    content: '';
    /* 图片是行内元素 先转换为块 */
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 1px auto;
}
/* focus模块 */
.focus {
    padding-top: 44px;
}
.focus img {
    width: 100%;
}
/* 局部导航栏 */
.local-nav {
    display: flex;
    height: 64px;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 3px 4px 0;
}
.local-nav li {
    flex:1;

}
.local-nav a {
    display: flex;
    flex-direction: column;
    /* 主轴设为Y轴 */
    align-items: center;
    /* 单行侧轴居中对齐 */
    font-size: 12px;
}
/* 用属性选择器写 */
.local-nav li [class^="local-nav-icon"]{
    width: 32px;
    height: 32px;
    background-color: aqua;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;  
}
.local-nav li .local-nav-icon-icon2{
    background-position: 0 -32px;
}
.local-nav li .local-nav-icon-icon3{
    background-position: 0 -64px;
}
.local-nav li .local-nav-icon-icon4{
    background-position: 0 -96px;
}
.local-nav li .local-nav-icon-icon5{
    background-position: 0 -128px;
}
nav {
    border-radius: 8px;
    margin-top: 0 4px 3px;
    /* 不用给高度 让内容撑开 */
    overflow: hidden;
    margin: 0 4px;
}
.nav-common{
    display: flex;
    height: 88px;
  
}
.nav-common:nth-child(2){
    margin: 3px 0;
}
.nav-common .nav-items{
    flex: 1;
    display: flex;
    /* 不冲突 */
    flex-direction: column;
}
.nav-items:nth-child(-n+2){
    border-right: 1px solid #fff;
}
.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    /* 文字阴影效果 */
}
.nav-items a:nth-child(1){
    border-bottom: 1px solid #fff;
}
.nav-items:nth-child(1) a {
    border: none;
    background: url(../images/hotel.png) no-repeat bottom center;
    /* 三倍图  靠底端对齐 */
    background-size: 121px auto;
    /* 第一列里面的a 不需要边框 */
}
.nav-common:nth-child(1){
    background: -webkit-linear-gradient(left, #fA5A55, #FA994D);
}
.nav-common:nth-child(2){
    background: -webkit-linear-gradient(left, #fA5A55, #FA994D);
}
.nav-common:nth-child(3){
    background: -webkit-linear-gradient(left, #fA5A55, #FA994D);
}
/* subnav-entry 模块 */
.subnav-entry{
    display: flex;
    border-radius: 8px;
    margin: 0 4px;
    flex-wrap: wrap;
    padding: 5px 0;
    background-color: #fff;
    
}
.subnav-entry li {
    flex: 20%;
    /* flex除了能写1 还能写%  每份所占比 */
    
}
.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subnav-entry-icon {
    height: 28px;
    width: 28px;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat 0 0;
    background-size: 28px auto;

}
.sales-box {
    border-top: 1px solid #CCC; 
    background-color: #fff;
    margin: 4px 0;
}
.sales-hd{
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}
.sales-hd h2{
  
    text-indent: -999px;
    /* 文字缩进 让他不显示 */
    overflow: hidden;
}
.sales-hd h2::after{
    position: absolute;
    top: 7px;
    left: 12px;
    content:'';
    width: 79px;
    height: 15px;
    background:url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}
.more{
    position: absolute;
    right: 5px;
    top: 0px;
    background: -webkit-linear-gradient(left, #FF4F68, #FF6BC6);
   border-radius: 20px;
   padding: 3px 20px 3px 10px;
   color: #fff;
}
.more::after{
    content: '';
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.row{
    display: flex;
}
.row a {
    flex:1;   
    border-bottom: 1px solid #ccc;
}
/* 每一行的第一个a */
.row a:nth-child(1){
    border-right: 1px  solid #ccc;
}
.row a img{
width:100%;
}
/* contact栏 */
.contact {
    display: flex;
    margin-top: 4px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 0 0 10px 0;
}
.contact li {
    flex:1;
    
}
.contact a {
    display: flex;
    flex-direction: column;
    /* 主轴设为Y轴 */
    align-items: center;
    /* 单行侧轴居中对齐 */
    font-size: 12px;
    margin-top: 3px;
}

.contact li [class^="contact-icon"]{
    width: 44px;
    height: 44px;
    background-color: aqua;
    background: url(../images/sprite.png)no-repeat 0px -293px ;
    background-size: 108px auto;  
   
}

